# (for an overview of all available settings, see src/eomas-assistant/config/settings.py)
DEBUG=false

# Ollama
LLM_PROVIDER=vllm_openai # Options: ollama | vllm_openai
LLM_MODEL=eve-esa/EVE-Instruct # For ollama provider, the model is hardcoded in the factory
LLM_CA_BUNDLE_PATH=Fraunhofer_MEVIS_CA-NewAD.cer
LLM_BASE_URL=https://ollama.cloud.intern.mevis.fraunhofer.de

#LLM_API_KEY=dummy  # Currently, we don't need a proper API key for our internal VLLM instance
#LLM_BASE_URL=https://vllm.cloud.intern.mevis.fraunhofer.de/gen/v1

# WMTS settings (temporary)
IMAGERY_PROVIDER=sentinel_hub_wmts
SENTINEL_HUB_INSTANCE_ID=...
SENTINEL_HUB_TILE_MATRIX_SET=PopularWebMercator256

# STAC local rendering / TiTiler
STAC_RENDER_FORMAT=geotiff # Options: geotiff | png
TITILER_BASE_URL=http://127.0.0.1:8000
STAC_CACHE_ROOT=cache

# OpenStreetMap / Nominatim
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
NOMINATIM_USER_AGENT=eomas-assistant/0.1.0

# HTTP
REQUEST_TIMEOUT_SECONDS=30

# LLM settings
VLLM_API_KEY=dummy

# see https://documentation.dataspace.copernicus.eu/APIs/S3.html for
# instructions on how to obtain access keys for CDSE's S3 service:
AWS_ACCESS_KEY_ID=your_cdse_access_key_id
AWS_SECRET_ACCESS_KEY=your_cdse_secret_access_key
